<mat-toolbar color="primary" class="shadow-sm px-1">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Brand + Mobile Toggle -->
    <div class="d-flex align-items-center">
      <button mat-icon-button (click)="openSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="mat-h2 text-primary">Jump Jelly</span>
    </div>

    <!-- Desktop Nav Links -->
     <div class="actions d-flex gap-3">
          <button *ngIf="!isLoggedIn" matButton="outlined"  (click)="redirectToLogin()" class="d-flex align-items-center">
            <mat-icon class="me-1">account_circle</mat-icon>
            <span class="d-none d-sm-inline">Login</span>
          </button>
     
         <!-- Profile Menu -->
         <button *ngIf="isLoggedIn" mat-raised-button [matMenuTriggerFor]="profileMenu" class="d-flex align-items-center">
           <mat-icon class="me-1">account_circle</mat-icon>
           <span class="d-none d-sm-inline">Profile</span>
         </button>
         <mat-menu #profileMenu="matMenu">
           <button mat-menu-item (click)="getMenuSelection('accounts')">My Account</button>
           <button mat-menu-item (click)="getMenuSelection('settings')">Settings</button>
           <mat-divider></mat-divider>
           <button mat-menu-item (click)="getMenuSelection('logout')">Logout</button>
         </mat-menu>
     </div>

  </div>
</mat-toolbar>
