<div class="d-flex flex-column min-vh-100">
  <!-- Global Top Navbar -->
  <div class="global-nav">
    <app-nav-bar (toggleSidenav)="toggleSidenav($event);"></app-nav-bar>
  </div>

  <!-- Layout with Sidenav and Content -->
  <mat-sidenav-container class="flex-fill" autosize>
    <!-- Sidebar -->
    <mat-sidenav
      #sidenav
      [(opened)]="isSidenavOpen"
      [mode]="sidenavMode"
      class="bg-light"
      [style.width.px]="isSidenavOpen ? 60 : 60"
    >
    <app-side-nav-bar>
    </app-side-nav-bar>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="p-3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Global Sticky Footer -->
  <mat-toolbar color="primary" class="justify-content-center">
    © 2025 Jump Jelly. All rights reserved.
  </mat-toolbar>
</div>
