<div class="d-flex flex-column min-vh-100">
  <!-- Global Top Navbar -->
  <div class="global-nav">
    <app-nav-bar (toggleSidenav)="toggleSidenav($event);"></app-nav-bar>
  </div>

  <!-- Layout with Sidenav and Content -->
  <mat-sidenav-container class="flex-fill" autosize>
    <!-- Sidebar -->
    <mat-sidenav #sidenav [(opened)]="isSidenavOpen" [mode]="sidenavMode" class="bg-light"
      [style.width.px]="isSidenavOpen ? 60 : 60">
      <app-side-nav-bar>
      </app-side-nav-bar>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="p-3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary"
    class="jump-footer text-light d-flex flex-column flex-md-row justify-content-between align-items-center"
    style="max-height: 32px; font-size: 14px;">
    <span class="mb-1 mb-md-0 text-center w-100 w-md-auto">
      © 2025 <strong>Jump Jelly</strong>. All rights reserved.
    </span>

    <span class="text-center">
      &nbsp;|&nbsp;
      <a href="https://github.com/ritzzh" target="_blank" class="text-light mx-2">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://linkedin.com/in/ritesh-singh-03" target="_blank" class="text-light mx-2">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://instagram.com/_ritzzh_.ig" target="_blank" class="text-light mx-2">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </span>
  </mat-toolbar>

  <!-- Global Sticky Footer -->

</div>